.shop {
    grid-row: content-s/content-e;
    grid-column: s/e;
    
    display: grid;
    grid-template-rows: 15px [search-bar-s] 38px [search-bar-e products-s] 1fr [products-e];
    grid-template-columns: [s] minmax(100px, 1035px) [e];
    grid-gap: 57px;
    justify-content: center;

    &_search-bar {
        grid-column: s/e;
        grid-row: search-bar-s/search-bar-e;
    }

    &_products {
        grid-row: prodcuts-s/products-e;
        grid-column: s/e;

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        grid-column-gap: 25px;
        grid-row-gap: 40px;
        max-width: 1035px;
        justify-content: center;
    }
}